In [1]:
import pickle

import pandas as pd

# Load data inference

In [2]:
data_inf = pd.read_csv('data_inf.csv').drop('Unnamed: 0',axis=1)
data_inf

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned
0,675,France,Female,57,8,0.00,2,0,1,95463.29,3,SILVER,632
1,746,Spain,Female,25,3,104833.79,1,0,0,71911.30,2,PLATINUM,367
2,644,France,Male,33,8,0.00,2,1,1,155294.17,5,SILVER,813
3,580,Germany,Male,24,1,133811.78,1,1,0,17185.95,2,DIAMOND,500
4,593,France,Male,36,2,70181.48,2,1,0,80608.12,3,PLATINUM,273

In [3]:
print(data_inf.iloc[:2].values.tolist())

[[675, 'France', 'Female', 57, 8, 0.0, 2, 0, 1, 95463.29, 3, 'SILVER', 632], [746, 'Spain', 'Female', 25, 3, 104833.79, 1, 0, 0, 71911.3, 2, 'PLATINUM', 367]]

In [4]:
print(data_inf.columns.tolist())

['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Satisfaction Score', 'Card Type', 'Point Earned']

# Model loading

In [5]:
with open('best_model.pkl', 'rb') as model:
    best = pickle.load(model)

# Prediksi Data Inference

In [6]:
hasil = pd.DataFrame()

In [7]:
hasil['prediksi'] = best.predict(data_inf)

In [8]:
final = pd.concat([data_inf,hasil],axis=1)
final

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,prediksi
0,675,France,Female,57,8,0.00,2,0,1,95463.29,3,SILVER,632,1
1,746,Spain,Female,25,3,104833.79,1,0,0,71911.30,2,PLATINUM,367,0
2,644,France,Male,33,8,0.00,2,1,1,155294.17,5,SILVER,813,0
3,580,Germany,Male,24,1,133811.78,1,1,0,17185.95,2,DIAMOND,500,0
4,593,France,Male,36,2,70181.48,2,1,0,80608.12,3,PLATINUM,273,0

# Kesimpulan

Berdasarakan pengujian hasil best_model yang sudah dilatih pada proses pembelajaran pada data train_set, didapati hahsil bahwa 1 dari 5 orang pada data inference diprediksi akan keluar layanan bank.