# 1. Perkenalan

=================================================================================================================================

NAMA        : Alif Nurhadi <br>
BATCH       : HCK-019

=================================================================================================================================

In [2]:
# !pip list

In [3]:
# %pip install great-expectations==0.18.19

In [4]:
# %pip install polars==1.5.0

# 2. Import libraries

In [5]:
# handling data loading
import polars as pl

# proses validasi data.
from great_expectations.data_context import FileDataContext

In [6]:
data = pl.read_csv('./airflow/data/P2M3_alif_nurhadi_clean.csv')
data.head()

shape: (5, 19)
┌────────────┬─────┬────────┬────────┬───┬──────────────┬────────────┬──────────────┬──────────────┐
│ customerid ┆ age ┆ gender ┆ income ┆ … ┆ serviceratin ┆ foodrating ┆ ambiancerati ┆ highsatisfac │
│ ---        ┆ --- ┆ ---    ┆ ---    ┆   ┆ g            ┆ ---        ┆ ng           ┆ tion         │
│ i64        ┆ i64 ┆ str    ┆ i64    ┆   ┆ ---          ┆ i64        ┆ ---          ┆ ---          │
│            ┆     ┆        ┆        ┆   ┆ i64          ┆            ┆ i64          ┆ i64          │
╞════════════╪═════╪════════╪════════╪═══╪══════════════╪════════════╪══════════════╪══════════════╡
│ 2112       ┆ 23  ┆ Female ┆ 99317  ┆ … ┆ 1            ┆ 1          ┆ 2            ┆ 1            │
│ 2011       ┆ 53  ┆ Female ┆ 106476 ┆ … ┆ 5            ┆ 3          ┆ 1            ┆ 1            │
│ 1432       ┆ 26  ┆ Female ┆ 36721  ┆ … ┆ 5            ┆ 3          ┆ 3            ┆ 0            │
│ 998        ┆ 67  ┆ Male   ┆ 52525  ┆ … ┆ 2            ┆ 2          ┆ 1            ┆ 0            │
│ 1869       ┆ 44  ┆ Female ┆ 106597 ┆ … ┆ 2            ┆ 1          ┆ 4            ┆ 0            │
└────────────┴─────┴────────┴────────┴───┴──────────────┴────────────┴──────────────┴──────────────┘

In [7]:
context = FileDataContext.create(project_root_dir='./')

In [8]:
# Buat Datasource dengan Pandas
datasource_name = 'csv-data'
datasource = context.sources.add_pandas(datasource_name)

# Nama dan path lokal untuk Data Asset
asset_name = 'Milestone'
path_to_data = './airflow/data/P2M3_alif_nurhadi_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Membuat batch request
batch_request = asset.build_batch_request()

# Membuat Expectation Suite
expectation_suite_name = 'Milestone_Expectation'
context.add_or_update_expectation_suite(expectation_suite_name)

# Membuat validator
validator = context.get_validator(
    batch_request=batch_request,
    expectation_suite_name=expectation_suite_name
)

# Memeriksa validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,customerid,age,gender,income,visitfrequency,averagespend,preferredcuisine,timeofvisit,groupsize,diningoccasion,mealtype,onlinereservation,deliveryorder,loyaltyprogrammember,waittime,servicerating,foodrating,ambiancerating,highsatisfaction
0,2112,23,Female,99317,Rarely,80.808807,Chinese,Breakfast,3,Celebration,Dine-in,1,0,1,0.749089,1,1,2,1
1,2011,53,Female,106476,Weekly,189.761975,Indian,Lunch,3,Celebration,Dine-in,0,1,0,8.397031,5,3,1,1
2,1432,26,Female,36721,Weekly,38.012189,Indian,Dinner,8,Celebration,Takeaway,0,0,1,29.834067,5,3,3,0
3,998,67,Male,52525,Monthly,183.244471,American,Breakfast,2,Casual,Dine-in,0,1,0,26.868775,2,2,1,0
4,1869,44,Female,106597,Weekly,150.427206,Chinese,Breakfast,7,Casual,Takeaway,1,0,1,35.369403,2,1,4,0

In [9]:
# memvalidasi apakah value pada kolom preferredcuisine berisi hanya sebuah tulisan atau string.
validator.expect_column_values_to_match_regex("preferredcuisine", regex="^[A-Za-z]+$")

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1500,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [10]:
# memvalidasi apakah tipe data untuk value yang ada pada kolom visitfrequency berisi sebuah tulisan atau string ataupun angka bulat.
validator.expect_column_values_to_be_in_type_list("loyaltyprogrammember", ["str","int"])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1500,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [11]:
# memvalidasi apakah terdapat kolom gender pada data ini.
validator.expect_column_to_exist("gender")

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [12]:
# memvalidasi apakah value pada kolom averagespend tidak kosong, karena jika kosong semestinya baris tersebut tidak ada.
validator.expect_column_values_to_not_be_null("averagespend")

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1500,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [13]:
# memvalidasi apakah value pada kolom ambiencerating merupakan salah satu dari kelas tertentu.
validator.expect_column_values_to_be_in_set("ambiancerating", value_set=[1, 2, 3, 4, 5])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1500,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [14]:
# memvalidasi apakah value pada kolom age ada dia antara rentan umur tertentu.
validator.expect_column_values_to_be_between("age", min_value=7, max_value=100)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1500,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [15]:
# memvalidasi apakah value pada kolom customerid tidak memiliki duplikat karena kolom tersebut sebagai unique identifier bagi keseluruhan data.
validator.expect_column_values_to_be_unique("customerid")

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 1500,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}